<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-notification-heading"
        data-cy="NotificationCreateUpdateHeading"
        jhiTranslate="gatewayApp.msNotificationNotification.home.createOrEditLabel"
      >
        Create or edit a Notification
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          @let idRef = editForm.get('id')!;
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.msNotificationNotification.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            @if (idRef.invalid && (idRef.dirty || idRef.touched)) {
              <div>
                @if (editForm.get('id')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                }
              </div>
            }
          </div>
        }

        @let recipientIdRef = editForm.get('recipientId')!;
        <div class="mb-3">
          <label class="form-label" for="field_recipientId" jhiTranslate="gatewayApp.msNotificationNotification.recipientId"
            >Recipient Id</label
          >
          <input
            type="text"
            class="form-control"
            name="recipientId"
            id="field_recipientId"
            data-cy="recipientId"
            formControlName="recipientId"
          />
          @if (recipientIdRef.invalid && (recipientIdRef.dirty || recipientIdRef.touched)) {
            <div>
              @if (editForm.get('recipientId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let typeRef = editForm.get('type')!;
        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="gatewayApp.msNotificationNotification.type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
          @if (typeRef.invalid && (typeRef.dirty || typeRef.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let messageRef = editForm.get('message')!;
        <div class="mb-3">
          <label class="form-label" for="field_message" jhiTranslate="gatewayApp.msNotificationNotification.message">Message</label>
          <textarea class="form-control" name="message" id="field_message" data-cy="message" formControlName="message"></textarea>
          @if (messageRef.invalid && (messageRef.dirty || messageRef.touched)) {
            <div>
              @if (editForm.get('message')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let isReadRef = editForm.get('isRead')!;
        <div class="mb-3">
          <label class="form-label" for="field_isRead" jhiTranslate="gatewayApp.msNotificationNotification.isRead">Is Read</label>
          <input type="checkbox" class="form-check" name="isRead" id="field_isRead" data-cy="isRead" formControlName="isRead" />
          @if (isReadRef.invalid && (isReadRef.dirty || isReadRef.touched)) {
            <div>
              @if (editForm.get('isRead')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="gatewayApp.msNotificationNotification.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
