<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-user-heading" data-cy="UserCreateUpdateHeading" jhiTranslate="gatewayApp.msUserUser.home.createOrEditLabel">
        Create or edit a User
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          @let idRef = editForm.get('id')!;
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.msUserUser.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            @if (idRef.invalid && (idRef.dirty || idRef.touched)) {
              <div>
                @if (editForm.get('id')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                }
              </div>
            }
          </div>
        }

        @let usernameRef = editForm.get('username')!;
        <div class="mb-3">
          <label class="form-label" for="field_username" jhiTranslate="gatewayApp.msUserUser.username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
          @if (usernameRef.invalid && (usernameRef.dirty || usernameRef.touched)) {
            <div>
              @if (editForm.get('username')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="gatewayApp.msUserUser.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let passwordHashRef = editForm.get('passwordHash')!;
        <div class="mb-3">
          <label class="form-label" for="field_passwordHash" jhiTranslate="gatewayApp.msUserUser.passwordHash">Password Hash</label>
          <input
            type="text"
            class="form-control"
            name="passwordHash"
            id="field_passwordHash"
            data-cy="passwordHash"
            formControlName="passwordHash"
          />
          @if (passwordHashRef.invalid && (passwordHashRef.dirty || passwordHashRef.touched)) {
            <div>
              @if (editForm.get('passwordHash')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="gatewayApp.msUserUser.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let keycloakUserIdRef = editForm.get('keycloakUserId')!;
        <div class="mb-3">
          <label class="form-label" for="field_keycloakUserId" jhiTranslate="gatewayApp.msUserUser.keycloakUserId">Keycloak User Id</label>
          <input
            type="text"
            class="form-control"
            name="keycloakUserId"
            id="field_keycloakUserId"
            data-cy="keycloakUserId"
            formControlName="keycloakUserId"
          />
          @if (keycloakUserIdRef.invalid && (keycloakUserIdRef.dirty || keycloakUserIdRef.touched)) {
            <div>
              @if (editForm.get('keycloakUserId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userAvatar" jhiTranslate="gatewayApp.msUserUser.userAvatar">User Avatar</label>
          <input
            type="text"
            class="form-control"
            name="userAvatar"
            id="field_userAvatar"
            data-cy="userAvatar"
            formControlName="userAvatar"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
