<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-like-heading" data-cy="LikeCreateUpdateHeading" jhiTranslate="gatewayApp.msCommentlikeLike.home.createOrEditLabel">
        Create or edit a Like
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          @let idRef = editForm.get('id')!;
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.msCommentlikeLike.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            @if (idRef.invalid && (idRef.dirty || idRef.touched)) {
              <div>
                @if (editForm.get('id')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                }
              </div>
            }
          </div>
        }

        @let parentTypeRef = editForm.get('parentType')!;
        <div class="mb-3">
          <label class="form-label" for="field_parentType" jhiTranslate="gatewayApp.msCommentlikeLike.parentType">Parent Type</label>
          <input
            type="text"
            class="form-control"
            name="parentType"
            id="field_parentType"
            data-cy="parentType"
            formControlName="parentType"
          />
          @if (parentTypeRef.invalid && (parentTypeRef.dirty || parentTypeRef.touched)) {
            <div>
              @if (editForm.get('parentType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let parentIdRef = editForm.get('parentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_parentId" jhiTranslate="gatewayApp.msCommentlikeLike.parentId">Parent Id</label>
          <input type="text" class="form-control" name="parentId" id="field_parentId" data-cy="parentId" formControlName="parentId" />
          @if (parentIdRef.invalid && (parentIdRef.dirty || parentIdRef.touched)) {
            <div>
              @if (editForm.get('parentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let userIdRef = editForm.get('userId')!;
        <div class="mb-3">
          <label class="form-label" for="field_userId" jhiTranslate="gatewayApp.msCommentlikeLike.userId">User Id</label>
          <input type="text" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
          @if (userIdRef.invalid && (userIdRef.dirty || userIdRef.touched)) {
            <div>
              @if (editForm.get('userId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="gatewayApp.msCommentlikeLike.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
