<div>
  <h2 id="page-heading" data-cy="KeycloakUserHeading">
    <span jhiTranslate="gatewayApp.msUserKeycloakUser.home.title">Keycloak Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.msUserKeycloakUser.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-keycloak-user"
        [routerLink]="['/keycloak-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.msUserKeycloakUser.home.createLabel">Create a new Keycloak User</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (keycloakUsers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.msUserKeycloakUser.home.notFound">No Keycloak Users found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msUserKeycloakUser.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msUserKeycloakUser.username">Username</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msUserKeycloakUser.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="realmId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msUserKeycloakUser.realmId">Realm Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msUserKeycloakUser.userId">User Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (keycloakUser of keycloakUsers(); track trackId(keycloakUser)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/keycloak-user', keycloakUser.id, 'view']">{{ keycloakUser.id }}</a>
              </td>
              <td>{{ keycloakUser.username }}</td>
              <td>{{ keycloakUser.email }}</td>
              <td>{{ keycloakUser.realmId }}</td>
              <td>{{ keycloakUser.userId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/keycloak-user', keycloakUser.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/keycloak-user', keycloakUser.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(keycloakUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
