<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (comment(); as commentRef) {
      <div>
        <h2 data-cy="commentDetailsHeading"><span jhiTranslate="gatewayApp.msCommentlikeComment.detail.title">Comment</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="gatewayApp.msCommentlikeComment.id">Id</span></dt>
          <dd>
            <span>{{ commentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.msCommentlikeComment.parentType">Parent Type</span></dt>
          <dd>
            <span>{{ commentRef.parentType }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.msCommentlikeComment.parentId">Parent Id</span></dt>
          <dd>
            <span>{{ commentRef.parentId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.msCommentlikeComment.userId">User Id</span></dt>
          <dd>
            <span>{{ commentRef.userId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.msCommentlikeComment.content">Content</span></dt>
          <dd>
            <span>{{ commentRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.msCommentlikeComment.createdAt">Created At</span></dt>
          <dd>
            <span>{{ commentRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.msCommentlikeComment.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ commentRef.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.msCommentlikeComment.likesCount">Likes Count</span></dt>
          <dd>
            <span>{{ commentRef.likesCount }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.msCommentlikeComment.repliesCount">Replies Count</span></dt>
          <dd>
            <span>{{ commentRef.repliesCount }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.msCommentlikeComment.mentions">Mentions</span></dt>
          <dd>
            <span>{{ commentRef.mentions }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/comment', commentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
